.mhs-container{
	width: 100%;
	position: relative;

	.table-container{
	    padding: 20px;
	    border-radius: 4px;
	    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	}

	&.single-mid{
		border: solid 2px lightgrey;
		border-radius: 8px;
		padding: 20px;
		position: relative;
		width: 50%;
		top: 5%;
		left: 25%;
		// margin-top: 100px;
	}
	&.medium-mid{
		border: solid 2px lightgrey;
		border-radius: 8px;
		padding: 20px;
		position: relative;
		width: 75%;
		top: 5%;
		left: 12.5%;
		// margin-top: 100px;
	}

	&.krs{
		border: solid 2px lightgrey;
		border-radius: 8px;
		padding: 20px;
		position: relative;
		float: left;
		width: 50%;
		top: 0%;
		left: 2%;
		margin-right: 20px;
	}

	&.matkul{
		border: solid 2px lightgrey;
		border-radius: 8px;
		padding: 20px;
		position: relative;
		float: left;
		width: 45%;
		top: 0%;
		left: 2%;
		margin-bottom: 20px;
	}


	.container-title{
		// cursor: pointer;
		display: block;
		position: relative;
		width: 100%;
		height: 100px;
		padding: 20px;
		font-weight: bold;
		font-size: 20px;
		line-height: 60px;
		text-align: center;

		&#single-mid{
			padding: 0;
			height: 60px;
			margin-bottom: 15px;
		}
	}

}

.add-btn-popup-box{
	display: none;

	&.show{
		display: block;
	}

	position: fixed;
	width: 200px;
	height: 150px;
	border-radius: 8px;
	opacity: 0;
	transition: opacity .3s;
	right: 40px;
	bottom: 80px;
	z-index: 2;

	&.visible{
		opacity: 1;
	}

	.item{
		width: 70%;
		position: relative;
		float: right;
		height: 40px;
		margin-bottom: 3px;
		border: solid 1px white;
		border-radius: 4px;
		color: white;
		// font-weight: bold;
		background-color: $material;
		box-shadow: 0px 2px 2px black;

	}
}

.white-smoke{
	display: none;

	&.show{
		display: block;
	}

	z-index: 1;
	position: absolute;
	width: 100%;
	height: calc(100% - 75px);
	background-color: rgba(255,255,255, .8);
	opacity: 0;
	transition: opacity .3s;

	&.visible{
		opacity: 1;
	}
}

.box-action-area{
	position: relative;
	width: 100%;
	text-align: right;
	margin-bottom: 20px;
	// float: right;
}

// BUTTONS HERE
.add-btn{
	z-index: 2;
	border: none;
	background-color: $material;
	position: fixed;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	right: 40px;
	bottom: 40px;
	background-image: url('../images/icons/ic_add_white_24px.svg');
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 1px 1px 5px black;
}

.edit-btn{
	@extend .add-btn;
	background-image: url('../images/icons/ic_edit_white_24px.svg');
}

.submit-btn{
	width: 65%;
	height: 50px;
	line-height: 50px;
	background-color: $blue;
	color: white;
	font-weight: bold;
	text-align: center;
	border: none;
	border-radius: 5px;
}

.finish-btn{
	// width: 97%;
	width: 100%;
	// margin: 0 20px;
	background-color: $green;
	@extend .submit-btn;
}

.back-to-home-btn{
	width: 20%;
	height: 50px;
	float: left;
	line-height: 50px;
	background-color: $material;
	color: white;
	font-weight: bold;
	text-align: center;
	border: none;
	border-radius: 5px;
	// text-align: left;
}

.info-btn{
	width: 20%;
	height: 50px;
	line-height: 50px;
	background-color: $lightblue;
	color: white;
	font-weight: bold;
	text-align: center;
	border: none;
	border-radius: 5px;
	float: right;
	margin: 2px;
}

.proceed-btn{
	width: 15%;
	height: 40px;
	line-height: 40px;
	background-color: $green;
	color: white;
	font-weight: bold;
	text-align: center;
	border: none;
	border-radius: 5px;
	float: left;
	margin: 2px;
}

#lihatkks{
	background-color: $blue;
}

.proceed-btn[disabled]{
	cursor: not-allowed;
	opacity: .65;
}