// Color Palletes
$main-theme: #f5f5f5;
$red: #d9534f;
$lightblue: #5bc0de;
$blue: #174181;
$green: #5cb85c;
$material: #9d9d9d;
$active: #CCCCCC;

// -------------------


// IMPORT FILE
@import 'admin';
@import 'mhs';
@import 'main-menu';

// --------------------

html{
	width: 100%;
	height: 100%;
}

body{
	font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	width: 100%;
	height: 100%;
	background-color: $main-theme;
	margin: 0;
}

a{
	text-decoration: none;

	:hover{
		text-decoration: none;
	}
}

.cf:after {
	content: " "; /* 1 */
    display: block;
    clear: both;
}

.cf {
    zoom: 1;
}

.splash-screen{
	width: 100%;
	height: 100%;
	background-color: #9d9d9d;

	.logo-unpad-ss{
		position: absolute;
		left: 47%;
		top: 43%;
		width: 100px;
		height: 100px;
		transition: left 1s;
		background-image: url("../images/logo unpad.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100px 100px;

		&.slide-right{
			// position: relative;
			left: 30%;
		}
	}

	.title-ss{
		display: none;
		&.show{
			display: block;
			opacity: 0;
		}

		// border: solid 1px black;
		position: absolute;
		left: 40%;
		top: 43%;
		width: 450px;
		height: 100px;
		transition: opacity 1s;
		// text-align: right;

		&.visible{
			opacity: 1;
		}

		color: black;
		padding: 10px 0;
		font-size: 31px;
		// font-weight: bold;
	}
}

.app-header{
	width: 100%;
	height: 75px;
	background-color: #9d9d9d;
	box-shadow: 1px 1px 5px;

	.logo-unpad{
		position: relative;
		float: left;
		width: 100px;
		height: 75px;
		background-image: url("../images/logo unpad.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 40px 40px;
	}

	.app-title{
		position: relative;
		float: left;
		font-size: 20px;
		padding: 23px 0;
		color: black;
		text-transform: uppercase;
		:hover{
			text-decoration: none;
		}
	}

	.logout-btn{
		color: white;
	    position: relative;
	    float: right;
	    height: 35px;
	    margin: 20px 20px;
	    background-color: $red;
	    border: none;
	    border-radius: 4px;
	}
}

.main-menu-btn{
	cursor: pointer;
	display: block;
	float: left;
	background-image: url("../images/icons/ic_menu_black_24px.svg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100px;
	height: 75px;
	z-index: 2;

	&.click{
		background-image: url("../../img/icons/close-black-24.svg");
	}
}

.app-body{
	position: relative;
	width: 100%;
	height: calc(100% - 76px);
	overflow-x: hidden;

	.login-container{
		position: relative;
		float: left;
		width: 40%;
		height: 100%;
		background-color: #C9C9C9;

		.login-form{
		    width: 80%;
		    height: 80%;
		    margin: 10% 50px;
		    border: solid 3px lightgrey;
		    border-radius: 25px;

		    .title{
		    	// width: 100%;
		    	height: 30px;
		    	padding: 30px 50px;
		    	color: black;
		    	font-weight: bold;
		    	font-size: 18px;
		    	text-align: center;
		    }

		    .form-login{
		    	// border: solid 1px black;
		    	position: relative;
			    margin: 0 40px;
			    width: 80%;
			    height: 50%;

			    .username-field{
		    		// border: solid 1px black;
			    	width: 100%;
			    	// height: 30%;
			    	margin-bottom: 10px;
			    }
			    .pass-field{
		    		@extend .username-field;
		    		margin-bottom: 20px;
			    }

			    .label{
			    	width: auto;
			    	color: black;
			    	font-weight: bold;
			    	margin-bottom: 10px;
			    }

			    input{
			    	position: relative;
			    	bottom: 0;
			    	height: 40px;
			    	// width: 94%;
			    	width: 100%;
			    	padding: 0 10px;
			    	border: none;
			    	border-radius: 3px;
			    }

			    .btn-login{
			    	width: 100%;
			    	height: 50px;
			    	line-height: 50px;
			    	background-color: #174181;
			    	color: white;
			    	font-weight: bold;
			    	text-align: center;
			    	border-radius: 5px;
			    }
		    }

		}
	    a{
	    	// margin-top: 5px;
	    	display: block;
	    	width: 100%;
	    	font-size: 12px;
	    	text-align: center;
    	}

	    .forgot{
	    	// width: 100%;
	    	color: black;
	    	font-weight: bold;
	    }
	}
	.faculty-image{
		position: relative;
		float: left;
		width: 60%;
		height: 100%;
		background-image: url("../images/TI-Unpad.jpg");
		// background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		opacity: .5;

		span{
			display: block;
			width: 100%;
			position: absolute;
			right: 5px;
			bottom: 5px;
			color: white;
			text-align: right;
			font-weight: bold;
		}

	}
	.copyright{
		text-align: center;
		width: 100%;
		color: black;
		position: absolute;
		bottom: 5px;
		font-size: 16px;
		// font-weight: bold;
	}
}